:host {
    display: block;
    height: 100%;
    background: linear-gradient(to right top, rgba(226,91,74,1) 0%,  rgba(158,15,110,1) 100%),
        linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
}

.glf-container {
    padding: 20px;
    height: 100%;
    background-image: url(../../../assets/logos/greenlots.svg);
    background-repeat: no-repeat;
    background-position: center 90%;
}

h1 {
    font-size: 40px;
    color: #fff;
    text-align: center;
    padding-top: 80px;
}

.glf-form-container {
    //text-align: center;
    .glf-form-item {
        padding-top: 24px;
        display: flex;
        flex-direction: column-reverse;
        input {
            padding: 10px;
            font-size: 18px;
            width: 100%;
            border-radius: 8px;
            outline: none;
            border: none;
            color: #636680;

            &:focus {
                color: #333;
            }

            &:focus + label, &.ng-touched + label {
                visibility: visible;
            }
        }

        label {
            color: #fff;
            font-size: 12px;
            line-height: 16px;
            visibility: hidden;
        }
    }
    
    .glf-form-button {
        padding-top: 32px;
        text-align: center;
        button {
            width: 100%;
            border-radius: 20px;
            background-color: rgb(139, 186, 78);
            line-height: 40px;
            &:not([disabled]) {
                color: #FFF;
            }
        }

        a {
            background: transparent;
            color: #FFF;
            margin-top: 20px;
        }
    }
    
}
