:host {
    display: block;
    overflow: auto;
    // background: linear-gradient(to right top, rgba(226,91,74,1) 0%,  rgba(158,15,110,1) 100%),
    //     linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
    height: 100vh;
}

header {
    background-color: rgb(242, 69, 61);
    color: #fff;
    text-align: center;
    padding: 8px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    bottom: 0;
}